---
---
@charset "utf-8";

// Skeleton Variable Overrides
// Breakpoint overrides
// $bp-larger-than-mobile    : "min-width: 400px";
$bp-larger-than-phablet   : "min-width: 700px";
// $bp-larger-than-tablet    : "min-width: 750px";
// $bp-larger-than-desktop   : "min-width: 1000px";
// $bp-larger-than-desktophd : "min-width: 1200px";
// Color overrides
// $light-grey: #e1e1e1;
// $dark-grey: #333;
// $primary-color: #33c3f0;
// $secondary-color: lighten($dark-grey, 13.5%);
// $border-color: #bbb;
// $link-color: #1eaedb;
// $font-color: #222;
// Typography overrides
$font-family: 'Roboto', sans-serif;
//Grid Variable overrides
$container-width: 1200px;
$container-width-larger-than-mobile: 100%;
$container-width-larger-than-phablet: 100%;
// $total-columns: 12;
// $column-width: 100 / $total-columns;
$column-margin: 3%;
// Misc overrides
// $global-radius: 4px;
// Get Skeleton
@import "skeleton";
// Page style
// Mixins
@mixin rotate($angle: 0){
	// Rotates a div by specified angle 
	-webkit-transform:rotate(#{$angle}deg);
	-moz-transform:rotate(#{$angle}deg);
	-ms-transform:rotate(#{$angle}deg);
	-o-transform:rotate(#{$angle}deg);
	transform:rotate(#{$angle}deg);
}
@mixin animate($duration: 0.2s){
	-webkit-transition: all $duration ease-in-out;
	-moz-transition: all $duration ease-in-out;
	-o-transition: all $duration ease-in-out;
	transition: all $duration ease-in-out;
}
@mixin animate_content($duration: 0.2s){
	-webkit-transition:
		opacity $duration ease-in-out, visibility $duration ease-in-out, max-height 0s ease-in-out 0s;
	-moz-transition: 
		opacity $duration ease-in-out, visibility $duration ease-in-out, max-height 0s ease-in-out 0s;
	-o-transition: 
		opacity $duration ease-in-out, visibility $duration ease-in-out, max-height 0s ease-in-out 0s;
	transition: 
		opacity $duration ease-in-out, visibility $duration ease-in-out, max-height 0s ease-in-out 0s;
}
@mixin animate_content_delay($duration: 0.2s){
	transition-delay: 0s, 0s, $duration;
	-moz-transition-delay: 0s, 0s, $duration;
	-o-transition-delay: 0s, 0s, $duration;
	-webkit-transition-delay: 0s, 0s, $duration;
}
.container{
	box-sizing: border-box;
	padding: 1.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: 400;
	@include animate;
}
h1{
	font-weight: 700;
}
h4{
	margin-bottom: 0;
}
a{
	text-decoration: none;
}
p{
	margin: 1rem 0 1rem 0;
}
p.lean{
	font-style: italic;
}
nav{
	padding: 7.5rem 0 1rem 0;
	box-sizing: border-box;
	float: left;
	width: 100%;
	ul{
		overflow: hidden;
		float: left;
		width: 100%;
		margin: 0;
		list-style: none;
		@include animate;
		li{
			float: right;
			clear: both;
			a{
				float: left;
				padding: 0.5rem 1.2rem 0.5rem 1.2rem;
				box-sizing: brder-box;
				@include animate(0.1s);
				text-align: right;
			}
			a.active{
				background-color: $primary-color;
				color: #fff;
			}
			a:hover{
				background-color: $primary-color;
				color: #fff;
			}
		}
	}
	#open-nav{
		background-color: $primary-color;
		float: left;
		width: 100%;
		text-align: center;
		cursor: pointer;
		padding: 0.8rem 0 0.8rem 0;
		display: none;
		#menu-arrow{
			height: 3.2rem;
			width: 3.2rem;
			margin: 0px auto;
			background: url(../required/images/arrow.svg) center center no-repeat;
			background-size: contain; 
			@include animate(0.2s);
			float: right;
			margin-right: 2rem;
		}
		#menu-text{
			float: left;
			text-align: left;
			font-weight: 400;
			color: #fff;
			height: 100%;
			font-size: 2.1rem;
			display: table;
			margin: 0 0 0 2rem;
			div{
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
}
.spin{
	@include rotate(180);
}
@media(max-width: 700px){
	nav{
		position: fixed;
		padding: 0;
		bottom: 0;
		left: 0;
		z-index: 9;
		background-color: #fff;
		ul{
			height: 0px;
			li{
				float: left;
				width: 100%;
				margin: 0;
				a{
					text-align: center;
					width: 100%;
					padding: 1rem 0 1rem 0;
				}
			}
		}
		#open-nav{
			display: block;
		}
	}
}
header{
	height: 250px;
	width: 100%;
	float: left;
	background-color: #eee;
	display: table;
	position: relative;
	@include animate;
}
.header{
	margin-bottom: 3rem;
	position: relative;
}
#profile-image{
	background-color:  #eee;
	background-position: center center;
	background-repeat: no-repeat;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	width: 250px;
	background-image: url('http://www.gravatar.com/avatar/2c2cfffb1629cf6dd03f32e1644553ea.jpg?s=1200');
	background-size: cover;
	cursor: pointer;
	@include animate;
}
#large-profile{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	background-color: rgba(255,255,255,0.85);
	width: 100%;
	height: 100%;
	@include animate;
	div{
		padding: 10%;
		float: left;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		div{
			background-image: url('http://www.gravatar.com/avatar/2c2cfffb1629cf6dd03f32e1644553ea.jpg?s=2000');
			background-position: center center;
			float: left;
			background-repeat: no-repeat;
			background-size: contain;
			height: 100%;
			width: 100%;
		}
	}
}
#details{
	box-sizing: border-box;
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 0 5rem;
	@include animate;
	#channels{
		a{
			width: 3rem;		
			height: 3rem;	
			float: left;
			margin-right: 2rem;
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
			opacity: 0.7;
			position: relative;
			@include animate;
		}
		a:hover{
			opacity: 1;
		}
		#github{
			background-image: url('../required/images/github.svg');
		}
		#flickr{
			background-image: url('../required/images/flickr.svg');
		}
		#email{
			background-image: url('../required/images/gmail.png');
		}
	}
}
@media(max-width: 1000px){
	#details{
		h1,
		h2{
			font-size: 220%;
		}
	}
}
@media(max-width: 850px){
	#details{
		padding: 0 0 0 3rem;
		h1,
		h2{
			font-size: 180%;
		}
	}
}
@media(max-width: 650px){
	#details{
		padding: 0 0 0 2rem;
		h1,
		h2{
			font-size: 150%;
		}
	}
}
@media(max-width: 500px){
	#details{
		padding: 2rem 2rem 4rem 2rem;
		display: block;
		float: left;
	}
	#profile-image{
		clear: both;
		width: 100%;
		padding-bottom: 75%;
		display: block;
		float: left;
		height: 0;
	}
}
@media(max-width: 350px){
	#profile-image{
		padding-bottom: 95%;
	}
}
#about{
	float: left;
	width: 100%;
	background-color: #eee;
	box-sizing: border-box;
	height: 0px;
	overflow: hidden;
	box-sizing: border-box;
	@include animate(0.4s);
	div{
		padding: 5rem 5rem 6rem 5rem;
		box-sizing: border-box;
		width: 100%;
		float: left;
		p{
			float: left;
			font-size: 1.7rem;
		}
	}
}
@media(max-width: 1000px){
	#about{
		div{
			padding: 4rem 4rem 6rem 4rem;
			p{
				font-size: 1.6rem;
			}
		}
	}
}
@media(max-width: 600px){
	#about{
		div{
			padding: 2rem 2rem 6rem 2rem;
			p{
				font-size: 1.5rem;
			}
		}
	}
}
#sections{
	position: relative;
	float: left;
	width: 100%;
	padding: 1rem 0 5rem 0;
	box-sizing: border-box;
}
#about-button{
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0.5rem 1.5rem 0.5rem 1.5rem;
	background-color: #ddd;
	cursor: pointer;
	font-weight: bold;
	@include animate(0.1s);
	&:hover{
		background-color: $primary-color;
		color: #fff;
	}
}
section{
	position: absolute;
	width: 100%;
	max-height: 1000000px;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0 5px 0 5px;
	margin-bottom: 8rem;
	@include animate_content;
}
.project{
	width: 100%;
	float: left;
	background-color: #eee;
	box-shadow: 0px 0px 5px #aaa;
	box-sizing: border-box;
	padding: 5rem;
	margin-bottom: 2rem;
	color: #666;
	@include animate;
	.samples{
		box-shadow: 0px 2px 8px #bbb;
		float: left;
		width: 100%;
		margin-top: 2rem;
	}
	.image{
		width: 100%;
		padding-bottom: 60%;
		background-size: cover;
		background-position: center center;
		margin: 0;
		float: left;
		border-radius: 0;
		image-rendering: -webkit-optimize-contrast;
		box-sizing: border-box;
	}
	.half{
		width: 50%;
		padding-bottom: 30%;
	}
	.web{
		padding-bottom: 56% !important;
	}
	.video{
		width: 100%;
		padding-bottom: 56.25%;
		float: left;
		position: relative;
		iframe{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	a{
		padding: 0.4rem 0.8rem 0.4rem 0.8rem;
		margin-right: 0.5rem;
		border-radius: 2px;
		float: left;
		@include animate(0.1s);
		&:hover{
			background-color: #ddd;
		}
	}
	h4{
		float: left;
		margin-right: 2rem;
	}
	p{
		clear: both;
		float: left;
		width: 100%;
		&:first-of-type{
			margin-top: 2rem;
		}
	}
	code{
		float: left;
		margin: 0.6rem 1rem 0 0;
		background-color: #fafafa;
		@include animate;
		&:hover{
			background-color: #fff;
		}
	}
}
@media(max-width: 1000px){
	.project{
		padding: 4rem;
	}
}
@media(max-width: 800px){
	.project{
		padding: 3rem;
	}
}
@media(max-width: 600px){
	.project{
		padding: 2rem;
	}
}

.hide{
	opacity: 0;
	visibility: hidden;
}
.shrink{
	max-height: 0px !important;
	@include animate_content_delay;
}
.stick{
	position: fixed;
	box-shadow: 0 -1px 8px #666;
}

[class^=arr-]{  /* Arrows @RCB */
  border:       solid currentColor;
  border-width: 0 .25em .25em 0;
  display:      inline-block;
  padding:      .25em;
  margin: 0 0.6rem 0 0.6rem; 
  @include animate;

}
.arr-up    {transform:rotate(-135deg) !important;}
.arr-down  {transform:rotate(45deg);}

/* Tooltips */
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  transition: 0.6s ease-in-out;
}

[data-tooltip]:before {
  content: "";
  height: 0;
  width: 0;
  top: calc(100% - 2px);
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #111 transparent;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  white-space: nowrap;
  background-color: #111;
  padding: 0.4rem 1rem 0.4rem 1rem;
  font-size: 1.2rem;
  box-sizing: border-box;
  top: calc(100% + 18px);
  border-radius: 2px;
  color: #eee;
  text-shadow: 0px 1px 1px #000;
  font-weight: 300;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-in-out;
}