---
layout: default
---
<div class="row header">
    <header id="header">
      <div id="profile-image"></div>
      <div id="details">
        <h1>Matt Fannin</h1>
        <h2>A multidisciplinary design portfolio.</h1>
        <div id="channels">
          <a target="_blank" href="https://github.com/bluefantail" id="github"></a>
          <a href="mailto:mattfannin@acidic.co.nz" id="email"></a>
          <a target="_blank" href="https://www.flickr.com/photos/mfannin/" id="flickr"></a>
          <div></div>
        </div>
      </div>
    </header>
    <div id="about">
      <div>
        <h4>About me</h4>
        <p>
          Being a designer can be kind of tricky to explain. 
        </p>
        <p>
         This portfolio is currently my best attempt to pool together the knowledge and experience gained by exploring many areas of design. 
        </p>
        <p>
          To me, design is as much about asking the crucial questions as it is about getting in and making something. This dual thinking / doing nature is what makes design so interesting to me. While I’m greatly concerned with visual aesthetic, I’m equally as eager to dive deep into some serious technical learning.
        </p>
        <p>
          For these reasons, my practice has led me to develop skills as a design generalist, proficient front end developer, image maker, and all-round technical person. I love combining many different disciplines into meaningful designs. 
        </p>
        <p>
          I like to think that my broad knowledge gives me the ‘language awareness’ to work well with people from varying disciplines. It gives me an edge when it comes to bridging the gap between an idea and a real product. As an example, if I’m creating a web layout, my extensive experience with HTML, CSS, and recent Javascript learning, means I know how that design is likely to be translated into something that actually works in a browser.
        </p>
        <p>
          All good design work can be paired back to a deep understanding of how an audience interacts, so naturally this is a core concern across the various areas of my work.
        </p>
      </div>
    </div>
    <div id="about-button">About Me</div>
</div>
<div class="row">
  <div class="two columns">
    <nav>
      <ul>
        <li><a id="#web" href="#web" class="active">Web</a></li>
        <li><a id="#graphic" href="#graphic">Graphic & Print</a></li>
        <li><a id="#film" href="#film">Film & Theatre</a></li>
        <li><a id="#photography" href="#photography">Photography</a></li>
        <li><a id="#game" href="#game">Game</a></li>
        <li><a id="#art" href="#art">Art</a></li>
      </ul>
      <div id="open-nav">
        <div id="menu-text">
          <div>Web</div>
        </div>
        <div id="menu-arrow"></div>
      </div>
    </nav>
  </div>
  <div class="ten columns">
    <div id="sections">
      <section id="web" class="hide shrink">
        {% include web.html %}
      </section>
      <section id="graphic" class="hide shrink">
        {% include graphic.html %}
      </section>
      <section id="art" class="hide shrink">
        {% include art.html %}
      </section>
      <section id="game" class="hide shrink">
        <h3>Game</h1>
        {% include game.html %}
      </section>
      <section id="photography" class="hide shrink">
        {% include photography.html %}
      </section>
      <section id="film" class="hide shrink">
        {% include film.html %}
      </section>
    </div>
  </div>
</div>