<h3>Drawing and Painting</h1>
<div class="project">
  <h4>Leah & Sam</h4>
  <code>Vector Painting</code>
  <code>Mischief</code>
  <p>
    Vector painting / illustration paying particular attention to small details. Enjoying the incredible ability to paint near infinite detail resolution in Mischief (Vector painting software).
  </p>
  <div class="samples">
    <a class="image" target="_blank" title="Click for full image" href="../required/projects/leah.jpg" style="background-image: url('../required/projects/leah.jpg')"></a>
    <a class="image half" target="_blank" title="Click for full image" href="../required/projects/leah-b.jpg" style="background-image: url('../required/projects/leah-b.jpg')"></a>
    <a class="image half" target="_blank" title="Click for full image" href="../required/projects/leah-c.jpg" style="background-image: url('../required/projects/leah-c.jpg')"></a>
  </div>
</div>
<div class="project">
  <h4>Life Drawing</h4>
  <code>Pencil</code>
  <code>Butchers Paper</code>
  <p>Sample from a successful life drawing session.</p>
  <div class="samples">
    <a class="image" target="_blank" title="Click for full image" href="../required/projects/life-drawing.jpg" style="background-image: url('../required/projects/life-drawing.jpg')"></a>
  </div>
</div>
<div class="project">
  <h4>Staff Only</h4>
  <code>Digital Painting</code>
  <code>Photo Manipulation</code>
  <code>Photoshop</code>
  <code>Mischief</code>
  <p>Artwork created to be adapted into an exhibition poster. A mix of digital painting, and photo manipulation. Was really enjoying working with colour here.</p>
  <div class="samples">
    <a class="image" target="_blank" title="Click for full image" href="../required/projects/staff-only.jpg" style="background-image: url('../required/projects/staff-only.jpg')"></a>
  </div>
</div>
<!-- <div class="project">
  <h4>Almost a Memory</h4>
  <code>In Progress</code>
  <code>Vector Painting</code>
  <code>Mischief</code>
  <p>
    A work-in-progress digital vector painting (Mischief). Based on a manipulated scene from my own photography combined with various references.
  </p>
  <div class="samples">
    <a class="image" target="_blank" title="Click for full image" href="../required/projects/memory.jpg" style="background-image: url('../required/projects/memory.jpg')"></a>
    <a class="image half" target="_blank" title="Click for full image" href="../required/projects/memory-c.jpg" style="background-image: url('../required/projects/memory-c.jpg')"></a>
    <a class="image half" target="_blank" title="Click for full image" href="../required/projects/memory-b.jpg" style="background-image: url('../required/projects/memory-b.jpg')"></a>
  </div>
</div> -->
<div class="project">
  <h4>Wedding Tree</h4>
  <code>Pencil on Paper</code>
  <p>
    A Pencil illustration 'Wedding Tree', to be printed and used as the wedding register (people press their fingerprints on as coloured leaves, signing next to them).
  </p>
  <div class="samples">
    <a class="image" target="_blank" title="Click for full image" href="../required/projects/tree.jpg" style="background-image: url('../required/projects/tree.jpg')"></a>
  </div>
</div>
<div class="project">
  <h4>Beach Scene</h4>
  <code>Vector Painting</code>
  <code>Mischief</code>
  <p>
    Vector illustration backdrop for a video scene in the video I produced for Community Research. 
  </p>
  <a href="https://www.youtube.com/watch?v=Jb_ulZUBRvM" target="_blank">Community Research Video</a>
  <div class="samples">
    <a class="image" target="_blank" title="Click for full image" href="../required/projects/beach.jpg" style="background-image: url('../required/projects/beach.jpg')"></a>
  </div>
</div>
<div class="project">
  <h4>Underwater Scene</h4>
  <code>Vector Painting</code>
  <code>Mischief</code>
  <p>
    Another vector illustration backdrop for the Community Research video. This is only a section of the much larger underwater scene. 
  </p>
  <a href="https://www.youtube.com/watch?v=Jb_ulZUBRvM" target="_blank">Community Research Video</a>
  <div class="samples">
    <a class="image" target="_blank" title="Click for full image" href="../required/projects/sea.jpg" style="background-image: url('../required/projects/sea.jpg')"></a>
  </div>
</div>