<h3>Drawing and Painting</h1>
<div class="project">
  <h4>Life Drawing</h4>
  <code>Pencil</code>
  <code>Butchers Paper</code>
  <a class="image" target="_blank" title="Click for full image" href="../required/projects/life-drawing.jpg" style="background-image: url('../required/projects/life-drawing.jpg')"></a>
</div>
<div class="project">
  <h4>Staff Only</h4>
  <code>Digital Painting</code>
  <code>Photo Manipulation</code>
  <code>Photoshop</code>
  <code>Mischief</code>
  <p>
    In Progress.
  </p>
  <a class="image" target="_blank" title="Click for full image" href="../required/projects/staff-only.jpg" style="background-image: url('../required/projects/staff-only.jpg')"></a>
</div>
<div class="project">
  <h4>Wedding Tree</h4>
  <code>Pencil on Paper</code>
  <p>
    In Progress.
  </p>
  <a class="image" target="_blank" title="Click for full image" href="../required/projects/tree.jpg" style="background-image: url('../required/projects/tree.jpg')"></a>
</div>
<div class="project">
  <h4>Almost a Memory</h4>
  <code>In Progress</code>
  <code>Vector Painting</code>
  <code>Mischief</code>
  <p>
    In Progress.
  </p>
  <a class="image" target="_blank" title="Click for full image" href="../required/projects/memory.jpg" style="background-image: url('../required/projects/memory.jpg')"></a>
</div>
<div class="project">
  <h4>Leah & Sam</h4>
  <code>Vector Painting</code>
  <code>Mischief</code>
  <p>
    In Progress.
  </p>
  <a class="image" target="_blank" title="Click for full image" href="../required/projects/leah.jpg" style="background-image: url('../required/projects/leah.jpg')"></a>
</div>
<div class="project">
  <h4>Beach Scene</h4>
  <code>Vector Painting</code>
  <code>Mischief</code>
  <p>
    In Progress.
  </p>
  <a class="image" target="_blank" title="Click for full image" href="../required/projects/beach.jpg" style="background-image: url('../required/projects/beach.jpg')"></a>
</div>
<div class="project">
  <h4>Underwater Scene</h4>
  <code>Vector Painting</code>
  <code>Mischief</code>
  <p>
    In Progress.
  </p>
  <a class="image" target="_blank" title="Click for full image" href="../required/projects/sea.jpg" style="background-image: url('../required/projects/sea.jpg')"></a>
</div>