<h3>Film & Theatre</h1>

<div class="project">
  <h4>The Mercy Clause</h4>
  <code>Set Design</code>
  <code>Theatre</code>
  <code>Sketchup</code>
  <p>
    A set design for "The Mercy Clause", Centrepoint Theatre in Palmerston North.
  </p>
  <p class="lean">
  	"It's the audience's role to in some way piece together Tom and Brian's disjointed verbal struggle. Rather than give the audience the comfort of a familiar setting to begin with, we saw potential for the play's initial ambiguity to be integrated with the set design, and used to our advantage. In order to maintain the 'grappling' feeling, the opening scene could be a 'blank slate' so to speak, a new case which is slowly 'textured' by the various actions, objects and ideas introduced."
  </p>
  <a href="http://edgelit.co.nz/stream/the-mercy-clause" target="_blank">Design Article</a>
  <div class="samples">
  	<a class="image"  target="_blank" title="Click for full image" href="../required/projects/mercy.jpg"style="background-image: url('../required/projects/mercy.jpg')"></a>
  	<a class="image half"c target="_blank" title="Click for full image" href="../required/projects/mercy-b.jpg"style="background-image: url('../required/projects/mercy-b.jpg')"></a>
  	<a class="image half"  target="_blank" title="Click for full image" href="../required/projects/mercy-c.jpg"style="background-image: url('../required/projects/mercy-c.jpg')"></a>
  </div>
</div>

<div class="project">
  <h4>Showreel</h4>
  <code>Editing</code>
  <code>Cinematography</code>
  <code>VFX</code>
  <p>
    A showreel of various film related endeavors, including cinematography, editing, and a little bit of VFX.
  </p>
  <div class="samples">
    <div class="video">
      <iframe src="https://www.youtube.com/embed/jmrlPXr8Msk?rel=0vq=HD720" frameborder="0" allowfullscreen></iframe>
    </div>
   </div>
</div>

<div class="project">
  <h4>Lines</h4>
  <code>Short Film</code>
  <code>Cinematography</code>
  <code>Editing</code>
  <code>VFX</code>
  <code>Green Screen</code>
  <p>
    A short film put together 3 collaborators and myself.
  </p>
  <a href="https://www.youtube.com/watch?v=8cVE51JWVpA" target="_blank">Watch Film</a>
  <a href="http://edgelit.co.nz/stream/cinematography-and-vfx-for-lines/" target="_blank">VFX Breakdown Article</a>
  <div class="samples">
    <a class="image"  target="_blank" title="Click for full image" href="../required/projects/lines-film.jpg"style="background-image: url('../required/projects/lines-film.jpg')"></a>
    <a class="image half"  target="_blank" title="Click for full image" href="../required/projects/lines-film-b.jpg"style="background-image: url('../required/projects/lines-film-b.jpg')"></a>
    <a class="image half"  target="_blank" title="Click for full image" href="../required/projects/lines-film-c.jpg"style="background-image: url('../required/projects/lines-film-c.jpg')"></a>
  </div>
</div>

<div class="project">
  <h4>Frame Rates in Action</h4>
  <code>Design Experiment</code>
  <code>Film Tech</code>
  <code>Cinematography</code>
  <code>Article</code>
  <p>
    What do frame rates have to do with telling better stories? A design experiment attempting to glean some information about how we read cinema differently depending on the project frame rate. I put together the same film segment twice at different frame rates for a detailed side-by-side comparison. 
  </p>
  <a href="http://edgelit.co.nz/stream/frame-rates-in-action/" target="_blank">Read Article (with video samples)</a>
  <div class="samples">
    <a class="image"  target="_blank" title="Click for full image" href="../required/projects/frame-rates-in-action.jpg"style="background-image: url('../required/projects/frame-rates-in-action.jpg')"></a>
    <a class="image half"  target="_blank" title="Click for full image" href="../required/projects/frame-rates-in-action-b.jpg"style="background-image: url('../required/projects/frame-rates-in-action-b.jpg')"></a>
    <a class="image half"  target="_blank" title="Click for full image" href="../required/projects/frame-rates-in-action-c.jpg"style="background-image: url('../required/projects/frame-rates-in-action-c.jpg')"></a>
   </div>
</div>

<div class="project">
  <h4>What Works</h4>
  <code>Creative Lead</code>
  <code>Writing</code>
  <code>Editing</code>
  <code>Motion Graphics</code>
  <p>
    Community Research needed an instructional video for the launch of their new 'What Works' Website. The goal was to inform visitors about the general website functionality, while promoting the fundamentals behind What Works. "Are we making a difference?" "How can we do better?"
  </p>
  <div class="samples">
    <div class="video">
      <iframe src="https://www.youtube.com/embed/QyXc_7TzYzw?rel=0vq=HD720" frameborder="0" allowfullscreen></iframe>
    </div>
   </div>
</div>

<div class="project">
  <h4>Community Research</h4>
  <code>Creative Lead</code>
  <code>Writing</code>
  <code>Editing</code>
  <code>Motion Graphics</code>
  <code>Digital Painting</code>
  <p>
    The Community Research video is designed to inform visitors about website functionality, but at the same time promoting Community Research as a whole. Visual narrative was used as a metaphor for the various explanations, with a general encouraging message that participation and contribution in Community Research activities will benefit the greater public.
  </p>
  <div class="samples">
    <div class="video">
      <iframe src="https://www.youtube.com/embed/7ZqSzoN_I5g?rel=0vq=HD720" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="project">
  <h4>Passage</h4>
  <code>Cinematography</code>
  <code>Editing</code>
  <p>
    This is a piece I completed to promote Cathryn's site responsive work. The goal was to communicate the work as being completely adaptable to the specifics of each site, looking at how it transformed this public space inside the New Zealand National Library.
  </p>
  <div class="samples">
    <div class="video">
      <iframe src="//player.vimeo.com/video/99818030?title=0&amp;byline=0&amp;portrait=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>