<div class="project">
  <h4>PxlJm 2014</h4>
  <code>Concept Art</code>
  <code>Spine2D Animation</code>
  <code>Textures</code>
  <code>Assets</code>
  <p>
    In Progress.
  </p>
  <a class="image" target="_blank" title="Click for full image" href="../required/projects/pxljm-2014.jpg" style="background-image: url('../required/projects/pxljm-2014.jpg')"></a>
</div>
<div class="project">
  <h4>PxlJm 2013</h4>
  <code>Concept Art</code>
  <code>Sprite Animation</code>
  <code>Textures</code>
  <code>Assets</code>
  <code>Sound</code>
  <p>
    In Progress.
  </p>
  <a class="image" target="_blank" title="Click for full image" href="../required/projects/pxljm-2013.jpg" style="background-image: url('../required/projects/pxljm-2013.jpg')"></a>
</div>