<div class="project">
  <h4>PxlJm 2014</h4>
  <code>Concept Art</code>
  <code>Spine2D Animation</code>
  <code>Textures</code>
  <code>Assets</code>
  <p>
    2014's attempt at Wellington's PxlJm. While our team has generally struggled to reach game-play implementation, the intentions are usually there!... 
  </p>
  <p>
    We hadn't titled this one, but the basic premise was a procedurally generated platformer, sprawling both horizontally and and vertically. Our character would collect plants and objects fueling three 'emotional powers' which would need to be balanced in order to progress through the game. Theme was 'With our powers combined.'
  </p>
  <p>
    I produced concept art as our general guide, as well as character animations (in Spine2D), and textures for the beginning of our terrain generation.
  </p>
  <div class="samples">
    <a class="image" target="_blank" title="Click for full image" href="../required/projects/pxljm-2014.jpg" style="background-image: url('../required/projects/pxljm-2014.jpg')"></a>
    <a class="image half" target="_blank" title="Click for full image" href="../required/projects/pxljm-2014-b.jpg" style="background-image: url('../required/projects/pxljm-2014-b.jpg')"></a>
    <a class="image half" target="_blank" title="Click for full image" href="../required/projects/pxljm-2014-c.jpg" style="background-image: url('../required/projects/pxljm-2014-c.jpg')"></a>
  </div>
</div>
<div class="project">
  <h4>PxlJm 2013</h4>
  <code>Concept Art</code>
  <code>Sprite Animation</code>
  <code>Textures</code>
  <code>Assets</code>
  <code>Sound</code>
  <p>
    For our first PxlJm, we decided to go in on day one and start producing a full game including the engine from scratch. This was a mistake, but we had a great time. Concept was essentially don't starve, but I knew nothing about don't starve at the time, and my artwork was going to be a different kind of beautiful.
  </p>
  <p>
    We got as far as textured terrain and bush generation, with a movable animated player that could pick up berries. Theme was 'You only live once.'
  </p>
  <div class="samples">
    <a class="image" target="_blank" title="Click for full image" href="../required/projects/pxljm-2013.jpg" style="background-image: url('../required/projects/pxljm-2013.jpg')"></a>
  </div>
</div>