<h3>Graphic & Print Design</h1>
<div class="project">
  <h4>A book of Shot Designs</h4>
  <code>Layout for Print</code>
  <code>InDesign</code>
  <p>
    A printed collection of cinematic stills and production notes, which prioritises white space and makes images powerful.
  </p>
  <div class="samples">
  	<a class="image"  target="_blank" title="Click for full image" href="../required/projects/book.jpg" style="background-image: url('../required/projects/book.jpg')"></a>
  </div>
</div>
<div class="project">
  <h4>Buisness Cards</h4>
  <code>Design for Print</code>
  <code>InDesign</code>
  <p>
    Buisness card designs for various projects.
  </p>
  <div class="samples">
    <a class="image" target="_blank" title="Click for full image" href="../required/projects/cards.jpg" style="background-image: url('../required/projects/cards.jpg')"></a>
    <a class="image half" target="_blank" title="Click for full image" href="../required/projects/cards-b.jpg" style="background-image: url('../required/projects/cards-b.jpg')"></a>
    <a class="image half" target="_blank" title="Click for full image" href="../required/projects/cards-c.jpg" style="background-image: url('../required/projects/cards-c.jpg')"></a>
  </div>
</div>
<div class="project">
  <h4>BluJm</h4>
  <code>Logo</code>
  <code>Poly Art</code>
  <code>Illustrator</code>
  <p>Logo / Graphic for the BluJm identity. The BluJm name is derived from the BlueJ IDE which new ECS Vic Uni stufents use to learn java, so the poly 'Blue Jay' is a play off that.</p>
  <div class="samples">
  	<a class="image" target="_blank" title="Click for full image" href="../required/projects/blujm-graphic.jpg" style="background-image: url('../required/projects/blujm-graphic.jpg')"></a>
  </div>
</div>
<div class="project">
  <h4>Golden Eagle</h4>
  <code>Logo</code>
  <code>Identity</code>
  <code>Illustrator</code>
  <code>Photoshop</code>
  <p>
    Our game jam team needed a name. At some point we threw Golden Eagle around and it kind of stuck. We're still open to a better name.
  </p>
  <div class="samples">
    <a class="image" target="_blank" title="Click for full image" href="../required/projects/ge.jpg" style="background-image: url('../required/projects/ge.jpg')"></a>
  </div>
</div>