<h3>Photography</h1>
<div class="project">
  <h4>Photographic Work</h4>
  <code>Cinematic</code>
  <code>Landscape</code>
  <code>Documentation</code>
  <code>Event</code>
  <p>
    My photographic work is best viewed either on my website, or on flickr.
  </p>
  <a href="http://edgelit.co.nz" target="_blank">edgelit.co.nz</a>
  <a href="https://www.flickr.com/photos/mfannin/" target="_blank">Flickr Profile</a>
  <div class="samples">
  	<a class="image"  target="_blank" title="Click for full image" href="../required/projects/photography.jpg"style="background-image: url('../required/projects/photography.jpg')"></a>
  </div>
</div>