<h3>Web</h1>
<div class="project">
  <h4>BluJm</h4>
  <code>Design</code>
  <code>HTML</code>
  <code>CSS</code>
  <code>Javascript</code>
  <code>Responsive</code>
  <p>
    Website for Wellington's BluJm game jam (first competition being held this year). Put together the layout, branding, and front end for this in a couple of weeks, as the first event is coming up soon. Javascript controls a dynamic sign-up form, which is then submitted to a rails back-end (another developer handling that).
  </p>
  <a href="http://blujm.nz" target="_blank">blujm.nz</a>
  <div class="samples">
    <a class="image web" target="_blank" title="Click for full image" href="../required/projects/blujm.jpg" style="background-image: url('../required/projects/blujm.jpg')"></a>
  </div>
</div>
<div class="project">
  <h4>flickrGal</h4>
  <code>Javascript</code>
  <code>Flickr Api</code>
  <code>CSS</code>
  <code>HTML</code>
  <code>Responsive</code>
  <p>
    After spending a lot of time maintaining different implementations of gallery code across various websites, all with different features, I figured it was time to start developing a replacement. flickrGal is a fully responsive, easy to use gallery utilising the flickr api. It pulls specified image collections from a flickr account. Written purely in javascript, with no external dependencies, it has a basic set of features which I'm adding to over time.
  </p>
  <a href="https://github.com/bluefantail/flickrGal" target="_blank">Github Project</a>
  <a href="http://bluefantail.github.io/flickrGal/" target="_blank">Demo Site</a>
  <div class="samples">
    <a class="image web" target="_blank" title="Click for full image" href="../required/projects/flickrgal.jpg" style="background-image: url('../required/projects/flickrgal.jpg')"></a>
  </div>
</div>
<div class="project">
  <h4>Dwellings of Wellington</h4>
  <code>Design</code>
  <code>HTML</code>
  <code>CSS</code>
  <code>Javascript</code>
  <code>React</code>
  <code>Responsive</code>
  <p>
    A website and image redevelopment project for a boutique property management company in Wellington. Used this as a bit of a react experiment for the various dynamic areas of content (forms, collapsed text, scrolling etc). Also shot the waterfront photo for the main view.
  </p>
  <a href="http://dwellingsofwellington.co.nz" target="_blank">dwellingsofwellington.co.nz</a>
  <div class="samples">
    <a class="image web" target="_blank" title="Click for full image" href="../required/projects/dwellings.jpg" style="background-image: url('../required/projects/dwellings.jpg')"></a>
  </div>
</div>
<div class="project">
  <h4>snakeJs</h4>
  <code>Javascript</code>
  <code>CSS</code>
  <code>HTML</code>
  <p>A fun, pure javascript project to aimed at developing my familiarity, and proficiency with the language.</p>
  <a href="https://github.com/bluefantail/snakejs" target="_blank">Github Project</a>
  <a href="https://bluefantail.github.io/snakejs" target="_blank">Play</a>
  <div class="samples">
    <a class="image web" target="_blank" title="Click for full image" href="../required/projects/snakejs.jpg" style="background-image: url('../required/projects/snakejs.jpg')"></a>
  </div>
</div>
<div class="project">
  <h4>Reilly Joinery</h4>
  <code>Design</code>
  <code>HTML</code>
  <code>CSS</code>
  <code>Photography</code>
  <code>Responsive</code>
  <p>Website for a joinery business. Much of the photography was also completed as part of this project.</p>
  <a href="http://reillyjoinery.co.nz" target="_blank">reillyjoinery.co.nz</a>
  <div class="samples">
    <a class="image web" target="_blank" title="Click for full image" href="../required/projects/joinery.jpg" style="background-image: url('../required/projects/joinery.jpg')"></a>
  </div>
</div>
<div class="project">
  <h4>PC4G</h4>
  <code>Design</code>
  <code>Branding</code>
  <code>HTML</code>
  <code>CSS</code>
  <code>Responsive</code>
  <p>
    PC4G was a larger project creating an identity for the programming event, which could be friendly enough to attract the right audience.
  </p>
  <a href="http://pc4g.org.nz" target="_blank">pc4g.org.nz</a>
  <div class="samples">
    <a class="image web" target="_blank" title="Click for full image" href="../required/projects/pc4g.jpg" style="background-image: url('../required/projects/pc4g.jpg')"></a>
  </div>
</div>
<div class="project">
  <h4>Edgelit</h4>
  <code>Design</code>
  <code>HTML</code>
  <code>CSS</code>
  <code>Responsive</code>
  <code>Jekyll</code>
  <p>
    Website for personal photography and film related work. Utilises the Jekyll blog platform for authoring the posts in /stream .
  </p>
  <a href="http://edgelit.co.nz" target="_blank">edgelit.co.nz</a>
  <div class="samples">
    <a class="image web" target="_blank" title="Click for full image" href="../required/projects/edgelit.jpg" style="background-image: url('../required/projects/edgelit.jpg')"></a>
  </div>
</div>
<div class="project">
  <h4>Jamie Mackman</h4>
  <code>Design</code>
  <code>HTML</code>
  <code>CSS</code>
  <code>Responsive</code>
  <p>A clean and simple site to show off the paintings by Wellington artist, Jamie Mackman.</p>
  <a href="http://jamiemackman.com" target="_blank">jamiemackman.com</a>
  <div class="samples">
    <a class="image web" target="_blank" title="Click for full image" href="../required/projects/jamie.jpg" style="background-image: url('../required/projects/jamie.jpg')"></a>
  </div>
</div>
<div class="project">
  <h4>Leah Pikimaunga</h4>
  <code>HTML</code>
  <code>CSS</code>
  <p>A simple artist website to display photographs by Leah Reilly.</p>
  <a href="http://pikimaunga.co.nz" target="_blank">pikimaunga.co.nz</a>
  <div class="samples">
    <a class="image web" target="_blank" title="Click for full image" href="../required/projects/pikimaunga.jpg" style="background-image: url('../required/projects/pikimaunga.jpg')"></a>
  </div>
</div>
<div class="project">
  <h4>Lines</h4>
  <code>Design</code>
  <code>HTML</code>
  <code>CSS</code>
  <p>Website home for the short film 'Lines', and info about it's creators.</p>
  <a href="http://linesfilm.co.nz" target="_blank">lines.co.nz</a>
  <div class="samples">
    <a class="image web" target="_blank" title="Click for full image" href="../required/projects/lines.jpg" style="background-image: url('../required/projects/lines.jpg')"></a>
  </div>
</div>